<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆 - 班级说说</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <script src="/public/js/jquery-1.12.3.min.js"></script>
    <style type="text/css">
        h1{
            margin-bottom:50px;
        }
        .alert{
            margin:0;
            margin-top:10px;
            padding:6px 10px;
            display: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">班级说说</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">说说列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/login">登录</a></li>
                <li><a href="/reg">注册</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>欢迎登陆 - 班级说说</h1>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">邮箱地址</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="请输入邮箱地址">
                        <div id="emailAlert" class="alert alert-success" role="alert">...</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword1" placeholder="请输入密码">
                        <div id="password1Alert" class="alert alert-success" role="alert">...</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="btn" type="button" class="btn btn-success">登陆</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    //正则表达式
    $("#inputEmail").blur(function(){
        //邮箱的正则
        var email = $(this).val();
        if(!/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/.test(email)){
            //正则没有通过
            $("#emailAlert").fadeIn().attr("class","alert alert-danger").html("邮箱格式不正确");
        }
    });

    //输入的时候要隐藏提示
    $("#inputEmail").focus(function(){
        $("#emailAlert").fadeOut();
    })


    //登陆按钮
    $("#btn").click(function(){
        $.post("/login",{
            "email" : $("#inputEmail").val(),
            "password" : $("#inputPassword1").val()
        },function(data){
            if(data == "-1"){
                alert("服务器错误");
            }else if(data == "-2"){
                alert("用户名不存在");
            }else if(data == "-3"){
                alert("密码输入错误");
            }else if(data == "1"){
                window.location = "/";
            }
        });
    });
</script>
</body>
</html>